@import 'common';

#visual {
    .jumbo-slide {
        position: relative;
        width: 100%;
        height: 190px;
        opacity: 0;
        &.on {
            opacity: 1;
        }
        .slick-list, .slick-track {overflow: hidden;}
        .slick-slide {
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
            .slogan {
                text-align: center;
                width: 100%;
                height: 190px;
                padding-top: 70px;
                h2 {
                    font-weight: lighter;
                    font-size: 22px;
                    color: #fff;
                    letter-spacing: 1px;
                    line-height: 27px;
                    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.44);
                    @include roboto();
                    strong {
                        display: block;
                        font-weight: bold;
                    }
                }
                p {
                    font-size: 12px;
                    color: #fff;
                    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.44);
                    margin-top: 15px;
                }
            }
            &.first {
                background-image: url(/assets/images/main/img_xs_slider01.jpg);
            }
            &.second {
                background-image: url(/assets/images/main/img_xs_slider02.jpg);
            }
            &.third {
                background-image: url(/assets/images/main/img_xs_slider03.jpg);
            }
        }
        .slick-dots {
            position: absolute;
            top: 50px;
            left: 0;
            width: 100%;
            text-align: center;
            li {
                display: inline-block;
                button {
                    width: 12px;
                    height: 12px;
                    text-indent: -999999px;
                    padding: 0;
                    border-radius: 50%;
                    margin: 0 5px;
                    background: #848587;
                    border: 1px solid #848587;
                }
                &.slick-active {
                    button {
                        border-color: #fff;
                        background: none;
                    }
                }
            }
        }
    }
    @media(min-width: $md) {
        .jumbo-slide {
            height: 300px;
            .slick-slide {
                height: 300px;
                .slogan {
                    height: 300px;
                    padding-top: 140px;
                    h2 {
                        font-size: 28px;
                        strong {
                            display: inline-block;
                        }
                    }
                    p {
                        font-size: 15px;
                        margin-top: 20px;
                    }
                }
            }
            .slick-dots {
                top: 110px;
            }
        }
    }
    @media(min-width: $lg) {
        .jumbo-slide {
            height: 630px;
            .slick-slide {
                height: 630px;
                .slogan {
                    height: 630px;
                    padding-top: 300px;
                    h2 {
                        font-size: 42px;
                        strong {
                            display: inline-block;
                        }
                    }
                    p {
                        font-size: 17px;
                        margin-top: 30px;
                    }
                }
                &.first {
                    background-image: url(/assets/images/main/img_xl_slider01.jpg);
                }
                &.second {
                    background-image: url(/assets/images/main/img_xl_slider02.jpg);
                }
                &.third {
                    background-image: url(/assets/images/main/img_xl_slider03.jpg);
                }
            }
            .slick-dots {
                top: 200px;
            }
        }
    }
}

.business {
    text-align: center;
    padding: 25px 0 20px;
    .section-header {
        padding-bottom: 20px;
        h3 {
            font-size: 18px;
            color: #333;
            font-weight: 500;
        }
        p {
            font-size: 14px;
            color: #888;
            margin-top: 10px;
        }
    }
    .section-content {
        > ul {
            > li {
                & ~ li {
                    figure {
                        margin-top: 30px;
                    }
                }
                figure {
                    .img-fluid {
                        width: 100%;
                    }
                    figcaption {
                        position: relative;
                        padding-top: 25px;
                        &:before {
                            position: absolute;
                            top: -20px;
                            left: 50%;
                            margin-left: -1px;
                            content: "";
                            height: 40px;
                            width: 2px;
                            display: block;
                            background-color: #0576e0;
                        }
                        dl {
                            dt {
                                font-size: 16px;
                                color: #333;
                            }
                            dd {
                                font-size: 13px;
                                color: #777;
                                line-height: 17px;
                                margin-top: 10px;
                            }
                        }
                    }
                }
                .btn-area {
                    text-align: center;
                    margin-top: 15px;
                    .btn-more {
                        display: inline-block;
                        width: 100px;
                        height: 33px;
                        font-size: 13px;
                        color: #0576e0;
                        text-align: center;
                        line-height: 31px;
                        border: 1px solid #0576e0;
                        img {
                            position: relative;
                            top: -1px;
                            display: inline-block;
                            width: 12px;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $md) {
        padding: 60px 0 50px;
        .section-header {
            padding-bottom: 30px;
            h3 {
                font-size: 28px;
            }
            p {
                font-size: 15px;
                margin-top: 20px;
            }
        }
        .section-content {
            > ul {
                > li {
                    figure {
                        figcaption {
                            dl {
                                dt {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $lg) {
        padding: 100px 0 100px;
        .section-header {
            padding-bottom: 40px;
            h3 {
                font-size: 32px;
            }
        }
        .section-content {
            > ul {
                > li {
                    figure {
                        figcaption {
                            padding-top: 40px;
                            dl {
                                dt {
                                    font-size: 21px;
                                }
                                dd {
                                    font-size: 15px;
                                    line-height: 24px;
                                    margin-top: 20px;
                                }
                            }
                            &:before {
                                width: 4px;
                                height: 40px;
                                margin-left: -2px;
                            }
                        }
                    }
                    .btn-area {
                        margin-top: 35px;
                        .btn-more {
                            width: 143px;
                            line-height: 45px;
                            height: 47px;
                            font-size: 14px;
                            img {
                                width: 17px;
                                margin-left: 30px;
                            }
                        }
                    }
                    & ~ li {
                        figure {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
}

.technology-mna {
    article {
        height: 145px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        .details {
            text-align: center;
            padding: 25px 0 24px;
            h3 {
                font-size: 16px;
                color: #fff;
                font-weight: 300;
                margin-bottom: 10px;
            }
            p {
                font-size: 13px;
                color: #fff;
            }
            .btn-area {
                text-align: center;
                margin-top: 15px;
                .btn-more {
                    display: inline-block;
                    width: 100px;
                    height: 33px;
                    font-size: 13px;
                    color: #fff;
                    text-align: center;
                    line-height: 31px;
                    border: 1px solid #fff;
                    img {
                        position: relative;
                        top: -1px;
                        display: inline-block;
                        width: 12px;
                        margin-left: 5px;
                    }
                }
            }
        }
        &.technology {
            background-image: url(/assets/images/main/bg_xs_technology.jpg);
        }
        &.mna {
            background-image: url(/assets/images/main/bg_xs_mna.jpg);
        }
    }
    @media(min-width: $md) {
        overflow: hidden;
        article {
            float: left;
            width: 50%;
            height: 250px;
            .details {
                padding: 59px 0 58px;
                h3 {
                    font-size: 28px;
                    margin-bottom: 15px;
                }
                p {
                    font-size: 15px;
                }
                .btn-area {
                    margin-top: 30px;
                }
            }
            &.technology {
                background-image: url(/assets/images/main/bg_xs_technology.jpg);
            }
            &.mna {
                background-image: url(/assets/images/main/bg_xs_mna.jpg);
            }
        }
    }
    @media(min-width: $lg) {
        article {
            height: 390px;
            .details {
                padding: 110px 0;
                h3 {
                    font-size: 32px;
                    margin-bottom: 20px;
                }
                p {
                    font-size: 17px;
                }
                .btn-area {
                    margin-top: 40px;
                    .btn-more {
                        width: 143px;
                        line-height: 45px;
                        height: 47px;
                        font-size: 14px;
                        border-color: rgba(#fff, .6);
                        img {
                            width: 17px;
                            margin-left: 30px;
                        }
                    }
                }
            }
            &.technology {
                background-image: url(/assets/images/main/bg_xl_technology.jpg);
            }
            &.mna {
                background-image: url(/assets/images/main/bg_xl_mna.jpg);
            }
        }
    }
    @media(min-width: $xl) {
        article {
            overflow: hidden;
            .details {
                width: 600px;
            }
            &.technology {
                .details {
                    float: right;
                }
            }
            &.mna {
                .details {
                    float: left;
                }
            }
        }
    }
}

.customer {
    padding: 30px 0;
    background-image: url(/assets/images/main/bg_customer.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 100% auto;
    .section-header {
        text-align: center;
        padding-bottom: 20px;
        h3 {
            font-size: 18px;
            color: #333;
            font-weight: 500;
        }
        p {
            font-size: 14px;
            color: #888;
            margin-top: 10px;
        }
    }
    .section-content {
        > div {
            display: block;
            height: 180px;
            background-color: #fff;
            h4 {
                font-size: 16px;
                color: #333;
                font-weight: 400;
                a {
                    display: block;
                    float: right;
                    width: 21px;
                    height: 21px;
                    background-image: url(/assets/images/ico_plus.jpg);
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: 11px auto;
                    border: 1px solid #e7e7e7;
                }
            }
            &.notice {
                padding: 20px 10px 20px;
                border: 1px solid #ddd;
                ul {
                    margin-top: 10px;
                    li {
                        a {
                            position: relative;
                            display: block;
                            font-size: 13px;
                            color: #666;
                            line-height: 22px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            padding-right: 60px;
                            span {
                                position: absolute;
                                top: 0;
                                right: 0;
                                color: #999;
                            }
                        }
                    }
                }
            }
            &.data {
                padding: 20px 10px 0;
                border: 1px solid #ddd;
                > ul {
                    margin-top: 5px;
                    > li {
                        & ~ li {
                            border-top: 1px solid #ddd;
                        }
                        > a {
                            display: block;
                            width: 100%;
                            padding: 10px 0 10px 55px;
                            background-image: url(/assets/images/main/img_file.jpg);
                            background-repeat: no-repeat;
                            background-position: 2px 50%;
                            background-size: 40px auto;
                            > p {
                                font-size: 13px;
                                color: #666;
                                display: block;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                            > span {
                                display: block;
                                font-size: 13px;
                                color: #999;
                                margin-top: 5px;
                            }
                        }
                    }
                }
            }
            &.backdrop {
                background-image: url(/assets/images/main/bg_xs_customer_back.jpg);
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
    @media(min-width: $md) {
        padding: 60px 0;
        .section-header {
            padding-bottom: 40px;
            h3 {
                font-size: 28px;
            }
        }
        .section-content {
            > div {
                height: 230px;
                h4 {
                    font-size: 18px;
                }
                &.notice {
                    padding: 30px;
                    > ul {
                        margin-top: 15px;
                        > li {
                            > a {
                                line-height: 26px;
                            }
                        }
                    }
                }
                &.data {
                    padding: 25px 30px;
                    > ul {
                        margin-top: 15px;
                        > li {
                            > a {
                                padding: 15px 0 15px 65px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $lg) {
        padding: 100px 0;
        background-image: url(/assets/images/main/bg_xl_customer.jpg);
        .section-header {
            padding-bottom: 30px;
            h3 {
                font-size: 32px;
            }
            p {
                font-size: 15px;
                margin-top: 20px;
            }
        }
        .section-content {
            overflow: hidden;
            > div {
                float: left;
                width: 33.333%;
                height: 300px;
                h4 {
                    font-size: 21px;
                    line-height: 33px;
                    > a {
                        width: 33px;
                        height: 33px;
                    }
                }
                &.notice {
                    padding: 30px 25px;
                    > ul {
                        margin-top: 25px;
                        > li {
                            > a {
                                font-size: 15px;
                                line-height: 35px;
                                padding-right: 70px;
                            }
                        }
                    }
                }
                &.data {
                    padding: 30px 25px;
                    > ul {
                        margin-top: 25px;
                        > li {
                            > a {
                                padding-left: 70px;
                                background-position: 10px 50%;
                                > P {
                                    font-size: 15px;
                                }
                                > span {
                                    font-size: 14px;
                                    margin-top: 10px;
                                }
                            }
                        }
                    }
                }
                &.backdrop {
                    background-image: url(/assets/images/main/bg_xl_customer_back.jpg)
                }
            }
        }
    }
    @media(min-width: $xl) {
        .section-content {
            > div {
                float: left;
                height: 300px;
                h4 {
                    font-size: 21px;
                }
                &.notice {
                    width: 370px;
                    padding: 40px 35px;
                }
                &.data {
                    width: 370px;
                    padding: 40px 35px;
                }
                &.backdrop {
                    width: 430px;
                    background-image: url(/assets/images/main/bg_xl_customer_back.jpg)
                }
            }
        }
    }
}

.inquire {
    background-image: url(/assets/images/main/bg_xs_inquiry.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    .details {
        padding: 30px 0;
        text-align: center;
        h3 {
            font-size: 16px;
            color: #fff;
            font-weight: 400;
            margin-bottom: 10px;
        }
        p {
            font-size: 13px;
            color: rgba(#fff, .6);
        }
        .btn-area {
            margin-top: 15px;
            .btn-more {
                display: inline-block;
                width: 100px;
                height: 33px;
                font-size: 13px;
                color: #fff;
                text-align: center;
                line-height: 31px;
                border: 1px solid #fff;
                img {
                    position: relative;
                    top: -1px;
                    display: inline-block;
                    width: 12px;
                    margin-left: 5px;
                }
            }
        }
    }
    @media(min-width: $md) {
        .details {
            padding: 60px 0;
            h3 {
                font-size: 28px;
                margin-bottom: 20px;
            }
            p {
                font-size: 15px;
            }
            .btn-area {
                margin-top: 30px;
            }
        }
    }
    @media(min-width: $lg) {
        overflow: hidden;
        background-image: url(/assets/images/main/bg_xl_inquiry.jpg);
        .details {
            float: right;
            text-align: left;
            width: 500px;
            padding: 120px 0;
            .btn-area {
                margin-top: 40px;
                .btn-more {
                    width: 143px;
                    line-height: 45px;
                    height: 47px;
                    font-size: 14px;
                    img {
                        width: 17px;
                        margin-left: 30px;
                    }
                }
            }
        }
    }
}