@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700");
@import url("//fonts.googleapis.com/css?family=Roboto+Slab:300,400,700");
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dt {
    font-weight: 400; }
  dl dd {
    font-weight: 400;
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

figure {
  margin: 0; }

label {
  font-weight: 400;
  margin: 0; }

button {
  outline: none !important; }
  button:hover, button:focus {
    box-shadow: none; }

a {
  color: inherit;
  outline: none !important; }
  a:hover, a:focus {
    color: inherit;
    box-shadow: none;
    text-decoration: none; }

.btn {
  padding: 0;
  border: 0;
  border-radius: 0;
  background: none;
  box-shadow: none !important;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }
  .btn:hover {
    opacity: .7; }

.form-group {
  margin: 0; }

.form-control {
  margin: 0;
  border-radius: 0;
  box-shadow: none !important; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    overflow: hidden;
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

.container {
  min-width: 320px;
  max-width: 100%; }
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px; } }

#visual .jumbo-slide {
  position: relative;
  width: 100%;
  height: 190px;
  opacity: 0; }
  #visual .jumbo-slide.on {
    opacity: 1; }
  #visual .jumbo-slide .slick-list, #visual .jumbo-slide .slick-track {
    overflow: hidden; }
  #visual .jumbo-slide .slick-slide {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover; }
    #visual .jumbo-slide .slick-slide .slogan {
      text-align: center;
      width: 100%;
      height: 190px;
      padding-top: 70px; }
      #visual .jumbo-slide .slick-slide .slogan h2 {
        font-weight: lighter;
        font-size: 22px;
        color: #fff;
        letter-spacing: 1px;
        line-height: 27px;
        text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.44);
        font-family: 'Roboto Slab', serif; }
        #visual .jumbo-slide .slick-slide .slogan h2 strong {
          display: block;
          font-weight: bold; }
      #visual .jumbo-slide .slick-slide .slogan p {
        font-size: 12px;
        color: #fff;
        text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.44);
        margin-top: 15px; }
    #visual .jumbo-slide .slick-slide.first {
      background-image: url(/assets/images/main/img_xs_slider01.jpg); }
    #visual .jumbo-slide .slick-slide.second {
      background-image: url(/assets/images/main/img_xs_slider02.jpg); }
    #visual .jumbo-slide .slick-slide.third {
      background-image: url(/assets/images/main/img_xs_slider03.jpg); }
  #visual .jumbo-slide .slick-dots {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    text-align: center; }
    #visual .jumbo-slide .slick-dots li {
      display: inline-block; }
      #visual .jumbo-slide .slick-dots li button {
        width: 12px;
        height: 12px;
        text-indent: -999999px;
        padding: 0;
        border-radius: 50%;
        margin: 0 5px;
        background: #848587;
        border: 1px solid #848587; }
      #visual .jumbo-slide .slick-dots li.slick-active button {
        border-color: #fff;
        background: none; }
@media (min-width: 768px) {
  #visual .jumbo-slide {
    height: 300px; }
    #visual .jumbo-slide .slick-slide {
      height: 300px; }
      #visual .jumbo-slide .slick-slide .slogan {
        height: 300px;
        padding-top: 140px; }
        #visual .jumbo-slide .slick-slide .slogan h2 {
          font-size: 28px; }
          #visual .jumbo-slide .slick-slide .slogan h2 strong {
            display: inline-block; }
        #visual .jumbo-slide .slick-slide .slogan p {
          font-size: 15px;
          margin-top: 20px; }
    #visual .jumbo-slide .slick-dots {
      top: 110px; } }
@media (min-width: 992px) {
  #visual .jumbo-slide {
    height: 630px; }
    #visual .jumbo-slide .slick-slide {
      height: 630px; }
      #visual .jumbo-slide .slick-slide .slogan {
        height: 630px;
        padding-top: 300px; }
        #visual .jumbo-slide .slick-slide .slogan h2 {
          font-size: 42px; }
          #visual .jumbo-slide .slick-slide .slogan h2 strong {
            display: inline-block; }
        #visual .jumbo-slide .slick-slide .slogan p {
          font-size: 17px;
          margin-top: 30px; }
      #visual .jumbo-slide .slick-slide.first {
        background-image: url(/assets/images/main/img_xl_slider01.jpg); }
      #visual .jumbo-slide .slick-slide.second {
        background-image: url(/assets/images/main/img_xl_slider02.jpg); }
      #visual .jumbo-slide .slick-slide.third {
        background-image: url(/assets/images/main/img_xl_slider03.jpg); }
    #visual .jumbo-slide .slick-dots {
      top: 200px; } }

.business {
  text-align: center;
  padding: 25px 0 20px; }
  .business .section-header {
    padding-bottom: 20px; }
    .business .section-header h3 {
      font-size: 18px;
      color: #333;
      font-weight: 500; }
    .business .section-header p {
      font-size: 14px;
      color: #888;
      margin-top: 10px; }
  .business .section-content > ul > li ~ li figure {
    margin-top: 30px; }
  .business .section-content > ul > li figure .img-fluid {
    width: 100%; }
  .business .section-content > ul > li figure figcaption {
    position: relative;
    padding-top: 25px; }
    .business .section-content > ul > li figure figcaption:before {
      position: absolute;
      top: -20px;
      left: 50%;
      margin-left: -1px;
      content: "";
      height: 40px;
      width: 2px;
      display: block;
      background-color: #0576e0; }
    .business .section-content > ul > li figure figcaption dl dt {
      font-size: 16px;
      color: #333; }
    .business .section-content > ul > li figure figcaption dl dd {
      font-size: 13px;
      color: #777;
      line-height: 17px;
      margin-top: 10px; }
  .business .section-content > ul > li .btn-area {
    text-align: center;
    margin-top: 15px; }
    .business .section-content > ul > li .btn-area .btn-more {
      display: inline-block;
      width: 100px;
      height: 33px;
      font-size: 13px;
      color: #0576e0;
      text-align: center;
      line-height: 31px;
      border: 1px solid #0576e0; }
      .business .section-content > ul > li .btn-area .btn-more img {
        position: relative;
        top: -1px;
        display: inline-block;
        width: 12px;
        margin-left: 5px; }
  @media (min-width: 768px) {
    .business {
      padding: 60px 0 50px; }
      .business .section-header {
        padding-bottom: 30px; }
        .business .section-header h3 {
          font-size: 28px; }
        .business .section-header p {
          font-size: 15px;
          margin-top: 20px; }
      .business .section-content > ul > li figure figcaption dl dt {
        font-size: 18px; } }
  @media (min-width: 992px) {
    .business {
      padding: 100px 0 100px; }
      .business .section-header {
        padding-bottom: 40px; }
        .business .section-header h3 {
          font-size: 32px; }
      .business .section-content > ul > li figure figcaption {
        padding-top: 40px; }
        .business .section-content > ul > li figure figcaption dl dt {
          font-size: 21px; }
        .business .section-content > ul > li figure figcaption dl dd {
          font-size: 15px;
          line-height: 24px;
          margin-top: 20px; }
        .business .section-content > ul > li figure figcaption:before {
          width: 4px;
          height: 40px;
          margin-left: -2px; }
      .business .section-content > ul > li .btn-area {
        margin-top: 35px; }
        .business .section-content > ul > li .btn-area .btn-more {
          width: 143px;
          line-height: 45px;
          height: 47px;
          font-size: 14px; }
          .business .section-content > ul > li .btn-area .btn-more img {
            width: 17px;
            margin-left: 30px; }
      .business .section-content > ul > li ~ li figure {
        margin-top: 0; } }

.technology-mna article {
  height: 145px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover; }
  .technology-mna article .details {
    text-align: center;
    padding: 25px 0 24px; }
    .technology-mna article .details h3 {
      font-size: 16px;
      color: #fff;
      font-weight: 300;
      margin-bottom: 10px; }
    .technology-mna article .details p {
      font-size: 13px;
      color: #fff; }
    .technology-mna article .details .btn-area {
      text-align: center;
      margin-top: 15px; }
      .technology-mna article .details .btn-area .btn-more {
        display: inline-block;
        width: 100px;
        height: 33px;
        font-size: 13px;
        color: #fff;
        text-align: center;
        line-height: 31px;
        border: 1px solid #fff; }
        .technology-mna article .details .btn-area .btn-more img {
          position: relative;
          top: -1px;
          display: inline-block;
          width: 12px;
          margin-left: 5px; }
  .technology-mna article.technology {
    background-image: url(/assets/images/main/bg_xs_technology.jpg); }
  .technology-mna article.mna {
    background-image: url(/assets/images/main/bg_xs_mna.jpg); }
@media (min-width: 768px) {
  .technology-mna {
    overflow: hidden; }
    .technology-mna article {
      float: left;
      width: 50%;
      height: 250px; }
      .technology-mna article .details {
        padding: 59px 0 58px; }
        .technology-mna article .details h3 {
          font-size: 28px;
          margin-bottom: 15px; }
        .technology-mna article .details p {
          font-size: 15px; }
        .technology-mna article .details .btn-area {
          margin-top: 30px; }
      .technology-mna article.technology {
        background-image: url(/assets/images/main/bg_xs_technology.jpg); }
      .technology-mna article.mna {
        background-image: url(/assets/images/main/bg_xs_mna.jpg); } }
@media (min-width: 992px) {
  .technology-mna article {
    height: 390px; }
    .technology-mna article .details {
      padding: 110px 0; }
      .technology-mna article .details h3 {
        font-size: 32px;
        margin-bottom: 20px; }
      .technology-mna article .details p {
        font-size: 17px; }
      .technology-mna article .details .btn-area {
        margin-top: 40px; }
        .technology-mna article .details .btn-area .btn-more {
          width: 143px;
          line-height: 45px;
          height: 47px;
          font-size: 14px;
          border-color: rgba(255, 255, 255, 0.6); }
          .technology-mna article .details .btn-area .btn-more img {
            width: 17px;
            margin-left: 30px; }
    .technology-mna article.technology {
      background-image: url(/assets/images/main/bg_xl_technology.jpg); }
    .technology-mna article.mna {
      background-image: url(/assets/images/main/bg_xl_mna.jpg); } }
@media (min-width: 1200px) {
  .technology-mna article {
    overflow: hidden; }
    .technology-mna article .details {
      width: 600px; }
    .technology-mna article.technology .details {
      float: right; }
    .technology-mna article.mna .details {
      float: left; } }

.customer {
  padding: 30px 0;
  background-image: url(/assets/images/main/bg_customer.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 100% auto; }
  .customer .section-header {
    text-align: center;
    padding-bottom: 20px; }
    .customer .section-header h3 {
      font-size: 18px;
      color: #333;
      font-weight: 500; }
    .customer .section-header p {
      font-size: 14px;
      color: #888;
      margin-top: 10px; }
  .customer .section-content > div {
    display: block;
    height: 180px;
    background-color: #fff; }
    .customer .section-content > div h4 {
      font-size: 16px;
      color: #333;
      font-weight: 400; }
      .customer .section-content > div h4 a {
        display: block;
        float: right;
        width: 21px;
        height: 21px;
        background-image: url(/assets/images/ico_plus.jpg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 11px auto;
        border: 1px solid #e7e7e7; }
    .customer .section-content > div.notice {
      padding: 20px 10px 20px;
      border: 1px solid #ddd; }
      .customer .section-content > div.notice ul {
        margin-top: 10px; }
        .customer .section-content > div.notice ul li a {
          position: relative;
          display: block;
          font-size: 13px;
          color: #666;
          line-height: 22px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding-right: 60px; }
          .customer .section-content > div.notice ul li a span {
            position: absolute;
            top: 0;
            right: 0;
            color: #999; }
    .customer .section-content > div.data {
      padding: 20px 10px 0;
      border: 1px solid #ddd; }
      .customer .section-content > div.data > ul {
        margin-top: 5px; }
        .customer .section-content > div.data > ul > li ~ li {
          border-top: 1px solid #ddd; }
        .customer .section-content > div.data > ul > li > a {
          display: block;
          width: 100%;
          padding: 10px 0 10px 55px;
          background-image: url(/assets/images/main/img_file.jpg);
          background-repeat: no-repeat;
          background-position: 2px 50%;
          background-size: 40px auto; }
          .customer .section-content > div.data > ul > li > a > p {
            font-size: 13px;
            color: #666;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
          .customer .section-content > div.data > ul > li > a > span {
            display: block;
            font-size: 13px;
            color: #999;
            margin-top: 5px; }
    .customer .section-content > div.backdrop {
      background-image: url(/assets/images/main/bg_xs_customer_back.jpg);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover; }
  @media (min-width: 768px) {
    .customer {
      padding: 60px 0; }
      .customer .section-header {
        padding-bottom: 40px; }
        .customer .section-header h3 {
          font-size: 28px; }
      .customer .section-content > div {
        height: 230px; }
        .customer .section-content > div h4 {
          font-size: 18px; }
        .customer .section-content > div.notice {
          padding: 30px; }
          .customer .section-content > div.notice > ul {
            margin-top: 15px; }
            .customer .section-content > div.notice > ul > li > a {
              line-height: 26px; }
        .customer .section-content > div.data {
          padding: 25px 30px; }
          .customer .section-content > div.data > ul {
            margin-top: 15px; }
            .customer .section-content > div.data > ul > li > a {
              padding: 15px 0 15px 65px; } }
  @media (min-width: 992px) {
    .customer {
      padding: 100px 0;
      background-image: url(/assets/images/main/bg_xl_customer.jpg); }
      .customer .section-header {
        padding-bottom: 30px; }
        .customer .section-header h3 {
          font-size: 32px; }
        .customer .section-header p {
          font-size: 15px;
          margin-top: 20px; }
      .customer .section-content {
        overflow: hidden; }
        .customer .section-content > div {
          float: left;
          width: 33.333%;
          height: 300px; }
          .customer .section-content > div h4 {
            font-size: 21px;
            line-height: 33px; }
            .customer .section-content > div h4 > a {
              width: 33px;
              height: 33px; }
          .customer .section-content > div.notice {
            padding: 30px 25px; }
            .customer .section-content > div.notice > ul {
              margin-top: 25px; }
              .customer .section-content > div.notice > ul > li > a {
                font-size: 15px;
                line-height: 35px;
                padding-right: 70px; }
          .customer .section-content > div.data {
            padding: 30px 25px; }
            .customer .section-content > div.data > ul {
              margin-top: 25px; }
              .customer .section-content > div.data > ul > li > a {
                padding-left: 70px;
                background-position: 10px 50%; }
                .customer .section-content > div.data > ul > li > a > P {
                  font-size: 15px; }
                .customer .section-content > div.data > ul > li > a > span {
                  font-size: 14px;
                  margin-top: 10px; }
          .customer .section-content > div.backdrop {
            background-image: url(/assets/images/main/bg_xl_customer_back.jpg); } }
  @media (min-width: 1200px) {
    .customer .section-content > div {
      float: left;
      height: 300px; }
      .customer .section-content > div h4 {
        font-size: 21px; }
      .customer .section-content > div.notice {
        width: 370px;
        padding: 40px 35px; }
      .customer .section-content > div.data {
        width: 370px;
        padding: 40px 35px; }
      .customer .section-content > div.backdrop {
        width: 430px;
        background-image: url(/assets/images/main/bg_xl_customer_back.jpg); } }

.inquire {
  background-image: url(/assets/images/main/bg_xs_inquiry.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover; }
  .inquire .details {
    padding: 30px 0;
    text-align: center; }
    .inquire .details h3 {
      font-size: 16px;
      color: #fff;
      font-weight: 400;
      margin-bottom: 10px; }
    .inquire .details p {
      font-size: 13px;
      color: rgba(255, 255, 255, 0.6); }
    .inquire .details .btn-area {
      margin-top: 15px; }
      .inquire .details .btn-area .btn-more {
        display: inline-block;
        width: 100px;
        height: 33px;
        font-size: 13px;
        color: #fff;
        text-align: center;
        line-height: 31px;
        border: 1px solid #fff; }
        .inquire .details .btn-area .btn-more img {
          position: relative;
          top: -1px;
          display: inline-block;
          width: 12px;
          margin-left: 5px; }
  @media (min-width: 768px) {
    .inquire .details {
      padding: 60px 0; }
      .inquire .details h3 {
        font-size: 28px;
        margin-bottom: 20px; }
      .inquire .details p {
        font-size: 15px; }
      .inquire .details .btn-area {
        margin-top: 30px; } }
  @media (min-width: 992px) {
    .inquire {
      overflow: hidden;
      background-image: url(/assets/images/main/bg_xl_inquiry.jpg); }
      .inquire .details {
        float: right;
        text-align: left;
        width: 500px;
        padding: 120px 0; }
        .inquire .details .btn-area {
          margin-top: 40px; }
          .inquire .details .btn-area .btn-more {
            width: 143px;
            line-height: 45px;
            height: 47px;
            font-size: 14px; }
            .inquire .details .btn-area .btn-more img {
              width: 17px;
              margin-left: 30px; } }

/*# sourceMappingURL=main.css.map */
